doctype html
html   
    head 
        meta(charset='utf-8')
        title cart
        h1 Cart
    body
        fieldset
            -if (cookie !== undefined)
                each product in cookie
                    -var rid = encodeURIComponent(product['rid']);
                    //-console.log('product in cart pug', product);
                    //-console.log('rid in cart pug', rid);
                    li= product.title + '(' + product.count + ')\t\t'
                        a(href='/cart?deleteRid=' + rid) Delete 
                           
            -else
                h3 Empty Cart!
        h3
            a(href='/product') Products list