doctype html
html
    head
        meta(charset="utf-8")
        title HomePage
    body
        fieldset
            p
                h1 Hello, HomePage
            p
                h2
                    a(href="/topic") Go to topics
            p
                h6= time
            p
                img(src= img)
    
