doctype html
html
    head
        meta(charset="utf-8")
        title Create New Topic
    body
        fieldset
            form(action="/topic" method="post")
                p
                    input(type="text" name="title" placeholder="title")
                p
                    textarea(name="description" placeholder="description")
                p
                    input(type="submit" value="Create")