doctype html
html
    head
        meta(charset='utf-8')
        title HomePage
        
    body
        fieldset
            p
                h1 Welcome to HomePage
            p
                h6= time
            p
                h3
                    a(href="/topic") Go to topics
            p
                img(src= img)
